<mat-card>
  <mat-card-title>
    <h1>
      Register
    </h1>
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="password" type="password">
    </mat-form-field>
    <div class="align-btn-right"><button mat-raised-button color="primary" (click)="login()">Login</button></div>
  </mat-card-content>
</mat-card>
