:host {
  mat-card {
    width: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  mat-card-title {
    padding: 10px 15px 0px 15px;
  }

  mat-form-field {
    display: block;
  }

  .align-btn-right {
    display: flex;
    justify-content: flex-end;
  }
}
